<div class="register-container">
  <h2>Register</h2>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="example-container">
      <mat-form-field appearance="fill">
        <mat-label>Enter your email</mat-label>
        <input
          matInput
          formControlName="email"
          placeholder="pat@example.com"
          required
        />
        <mat-error *ngIf="email?.invalid && email?.touched">
          {{ errorMessage }}
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <label for="name">Name</label>
      <input
        type="text"
        id="name"
        formControlName="name"
        class="form-control"
        required
      />
    </div>
    <div>
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        formControlName="password"
        required
        class="form-control"
      />
    </div>
    <button type="submit" [disabled]="registerForm.invalid">Register</button>
  </form>
</div>
